.navbar {
	display: flex;
	justify-content: space-between;
	padding: 15px 65px 15px 45px;
	height: 80px;
	background: #F2EFE9;

	.menu {
		font-size: 18px;
		font-weight: 600;
		display: flex;
		gap: 20px;

		li {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}
	}
}